* text=auto

/tests export-ignore
.coveralls.yml export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
.php-cs-fixer.dist.php export-ignore
phpdoc.dist.xml export-ignore
phpunit.xml export-ignore
rector.php export-ignore
